/* Breadcrumbs */

#breadcrumb {
    padding-left: 20px;
    margin-bottom: 3rem;
}

#breadcrumb li {
    float: left;
    list-style: none;
}

#breadcrumb li a {
    color: #FFF;
    display: block;
    background: #72c3ad;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}

#breadcrumb li:nth-child(even) a {
    background-color: #35a989;
}

#breadcrumb li:nth-child(even) a:before {
    border-color: #35a989;
    border-left-color: transparent;
}

#breadcrumb li:nth-child(even) a:after {
    border-left-color: #35a989;
}

#breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
}

#breadcrumb li:first-child a:before {
    border: none;
}

#breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
}

#breadcrumb li:last-child a:after {
    border: none;
}

#breadcrumb li a:before, #breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #72c3ad;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

#breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}

#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #72c3ad;
}

#breadcrumb li a:hover {
    background-color: #1abc9c;
}

#breadcrumb li a:hover:before {
    border-color: #1abc9c;
    border-left-color: transparent;
}

#breadcrumb li a:hover:after {
    border-left-color: #1abc9c;
}

#breadcrumb li a:active {
    background-color: #16a085;
}

#breadcrumb li a:active:before {
    border-color: #16a085;
    border-left-color: transparent;
}

#breadcrumb li a:active:after {
    border-left-color: #16a085;
}

.breadCrumbButton {
    height: 30px;
    margin: 2px;
    margin-top: 3px;
}

/* Buttons */

.buttons_container {
    display: flex;
    justify-content: end;
}

.button_items {
    margin: 0 0.5rem;
    border: 0.5px rgb(160, 160, 160) solid;
    border-radius: 4px;
    padding: 0.2rem 1rem;
}

/* Listing guardians */

.list-group {
    margin-top: 1.5rem;
}

.list-group-item {
    cursor: pointer;
}

#guardians {
    border-left: none;
    border-right: none;
    border-radius: 0;
    text-align: left;
    border-color: #eaeaeac4;
    display: flex;
    justify-content: space-between;
    transition: all 0.25s ease-in-out;
}

#guardians:hover {
    background-color: rgba(249, 248, 248, 0.77);
}

.fa-ellipsis-v, .fa-bars, .fa-plus {
    position: relative;
    top: 3px;
    margin-right: 0.5rem;
}

/* Form */
.modal-footer, .modal-header {
    display: flex;
    justify-content: center;
}